.topcreators {
  padding: 80px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;
  height: 1085px;
  box-sizing: border-box;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.container header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  gap: 100px;
  height: 91px;
  margin-bottom: 60px;
}

.container hgroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  height: 91px;
}

.container h2 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--text);
  margin: 0;
}

.container p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: var(--text);
  margin: 0;
}

.desktopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;

  border: 2px solid var(--call-to-action);
  border-radius: 20px;
  width: 247px;
  height: 60px;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--text);
  background: var(--background);
}

.container button>img {
  width: 20px;
  height: 20px;
}

.desktopCreators {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  height: 774px;
  padding: 0;
  margin: 0;
}

.mobileCreators {
  display: none;
}
.mobileButton {
  display: none;
}

@media (max-width: 1279px) {
  
  .topcreators {
    padding: 40px 0px;
    height: 573px;
    gap: 40px;
  }

  .container {
    max-width: 690px;
  }

  .container header {
    margin-bottom: 40px;
    height: 93px;
  }

  .container hgroup {
    height: 93px;
  }

  .container h2 {
    font-size: 28px;
    line-height: 140%;
  }

  .container p {
    font-size: 16px;
    line-height: 140%;
  }

  .desktopCreators {
    height: 360px;
    
  }

  
  
}

@media (max-width: 835px) {
  .topcreators{
    padding: 40px 0px;
    height: 893px;
  }

  .container {
    max-width: 315px;
  }

  .container header {
    margin-bottom: 40px;
    height: 93px;
  }

  .container button {
    width: 315px;
  }

  .desktopCreators {
    display: none;
  }

  .desktopButton {
    display: none;
  }

  .mobileCreators {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  .mobileButton {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    width: 315px;
    height: 60px;
    border: 2px solid var(--call-to-action);
    border-radius: 20px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: var(--text);
    background: var(--background);
  }
}