.cat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  border-radius: 20px;
  width: 240px;
  height: 316px;
  background: var(--background---secondary);
}

.cat .img {
  border-radius: 20px 20px 0 0;
  height: 240px;
  position: absolute;
}

.cat i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  backdrop-filter: blur(5px);/* стояло 15 я решил поставить 5px; */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px 20px 0 0;
  height: 600px; /* высоту натыкал в браузере  */
  width: 240px;
}

.cat i .icon {
  width: 100px;
  height: 100px;
  position: relative;
}

.cat h4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0px 25px 60px;
  width: 240px;
  height: 76px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--text);
  margin: 0;
}