.header {
  padding: 20px 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo img {
  width: 243px;
  height: 32px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav a {
  display: block;
  padding: 12px 20px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--text);
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.nav a:hover {
  background-color: var(--background-secondary);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 60px;
  padding: 0 30px;
  background: var(--call-to-action);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: var(--text);
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.burgerButton {
  display: none;
}


@media (max-width: 1279px) {

  .header {
    padding: 15px 50px;
  }

  .nav {
    display: none;
  }

  .burgerButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .burgerButton img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 835px) {
  .header {
    padding: 15px 30px;
  }
}