.trending {
  padding: 80px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;
  /* width: 1280px; */
  height: 836px;
  box-sizing: border-box;

}

.trending .container {
  max-width: 1050px;
  margin: 0 auto;
}

.trending h2 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--text);
  margin: 0;
}

.trending p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: var(--text);
  margin: 0;
  margin-top: 10px;
  margin-bottom: 60px;
}

.trending ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center; 
}

.trending .trendingItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 330px;
}

.trending .trendingItem img {
  border-radius: 20px;
  height: 330px;
}

.trending .trendingItem .ribbon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 15px;
  height: 100px;
}

.trending .trendingItem .ribbon img {
  border-radius: 20px;
  height: 100px;
}

.trending .trendingItem .ribbon .count {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  padding: 32px 15px;
  background: var(--call-to-action);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  text-align: center;
  color: var(--text);
}

.trending .trendingItem .title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--text);
  margin: 0;
}

.trending .trendingItem .author {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
  border-radius: 20px;
  height: 24px;
}

.trending .trendingItem .author img {
  border-radius: 100px;
  height: 24px;
}

.trending .trendingItem .author .name {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--text);
}

@media (max-width: 1279px) {
  .trending {
    gap: 40px;
    padding: 40px 0px;
    height: 716px;
  }

  .trending .container {
    max-width: 690px;
  }

  .trending h2 {
    font-size: 28px;
    line-height: 140%;
  }

  .trending p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 40px;
  }
}

@media (max-width: 835px) {
  .trending {
    justify-content: center;
    height: 718px;
  }

  .trending .container {
    max-width: 315px;
    justify-content: center;
  }
  
  .trending .trendingItem {
    width: 100%;
    max-width: 330px; 
  }
  .trending .trendingItem img {
    height: 315px;
  }
  
  .trending .trendingItem .ribbon {
    height: 95px;
  }
  
  .trending .trendingItem .ribbon img {
    height: 95px;
  }
  
  .trending .trendingItem .author {
    height: 20px;
  }
  
  .trending .trendingItem .author img {
    height: 20px;
  }
}